.article .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(36, 25, 26, 0.9);
  z-index: -1;
}

header {
  height: 150px;
  width: 100%;
  z-index: 10;
}

header p {
  color: white;
}

.main {
  display: flex;
}

.slidepart {
  margin-top: 40px;
}

.slidehead {
  height: 100px;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -20px;
}

.slidehead .underline {
  width: 50px;
  height: 2px;
  background-color: antiquewhite;
  transition: 0.5s;
}

.slidehead h5 {
  color: white;
}

.slidehead p {
  color: white;
}

.slidenav {
  width: 250px;
  height: 150vh;
  /* margin-top: 10px; */
  display: flex;
  flex-direction: column;
  /* margin-bottom: -20px; */
}

/* users slidenavbar */
.slidenav .users {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgba(0, 0, 0, 0.4);
}

.users h5 {
  color: white;
  margin-bottom: 20px;
}

.users a {
  text-decoration: none;
}

.users ul {
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
}

.users ul li a {
  display: block;
  color: #d0d0d0;
  padding: 8px 16px;
  text-decoration: none;
}

.users ul li a:hover {
  background-color: #555;
  color: white;
}

/* articles slidenavbar */
.slidenav .articles {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgba(0, 0, 0, 0.4);
}

.articles h5 {
  color: white;
  margin-top: 40px;
  margin-bottom: 20px;
}

.articles a {
  text-decoration: none;
}

.articles ul {
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
}

.articles ul li a {
  display: block;
  color: #d0d0d0;
  padding: 8px 16px;
  text-decoration: none;
}

.articles ul li a:hover {
  background-color: #555;
  color: white;
}

/* jops  slidenavbar*/
.slidenav .jops {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgba(0, 0, 0, 0.4);
}

.jops h5 {
  color: white;
  margin-top: 40px;
  margin-bottom: 20px;
}

.jops a {
  text-decoration: none;
}

.jops ul {
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
}

.jops ul li a {
  display: block;
  color: #d0d0d0;
  padding: 8px 16px;
  text-decoration: none;
}

.jops ul li a:hover {
  background-color: #555;
  color: white;
}

/* courses slidenavbar */

.slidenav .courses {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgba(0, 0, 0, 0.4);
}

.courses h5 {
  color: white;
  margin-top: 40px;
  margin-bottom: 20px;
}

.courses a {
  text-decoration: none;
}

.courses ul {
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
}

.courses ul li a {
  display: block;
  color: #d0d0d0;
  padding: 8px 16px;
  text-decoration: none;
}

.courses ul li a:hover {
  background-color: #555;
  color: white;
}

/* content part */

.contentpart {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.contentpart .createarticle {
  margin-left: 80%;
  margin-top: 35px;
  /* margin-bottom: 60px; */
  width: 200px;
  color: white;
  transition: 0.5s;
  font-size: 18px;
  text-transform: capitalize;
}

.contentpart .createarticle:hover {
  opacity: 0.7;
}

.articleslist h5 {
  color: white;
  margin-top: 36px;

  margin-left: 50px;
}

.articleslist .underline {
  width: 50px;
  height: 2px;
  background-color: antiquewhite;
  transition: 0.5s;
  margin-bottom: 40px;
  margin-left: 50px;
}

.articleslist h5:hover + .underline {
  width: 70px;
}

.articletitle {
  display: flex;
  justify-content: space-between;
  margin-right: 100px;
}

.searchbtn {
  width: 320px;
  height: 50px;
  margin-top: 36px;

  margin-left: 40px;
  background-color: rgba(187, 174, 174, 0.3);
  border-radius: 40px;
  outline-style: none;
  border: none;
  transition: 0.5s;
}

.searchbtn:focus {
  background-color: rgb(235, 228, 228);
}

.searchbtn:focus::placeholder {
  color: black;
}

.searchbtn::placeholder {
  text-align: center;
  color: white;
  opacity: 1;
}

table {
  width: 94%;
  margin-left: 40px;
  border-collapse: separate;
  columns: 4;
  border-spacing: 0 40px;
}

th {
  text-align: left;
  color: white;
  font-size: 18px;
  padding-left: 30px;
}

td {
  padding: 30px;

  text-align: left;
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
}

td .statusopen {
  color: white;
  width: auto;
  border-radius: 20px;
  transition: 0.5s;
  text-align: center;
}

td .statusopen:hover {
  opacity: 0.7;
}

table td a {
  color: burlywood;
  padding-left: 20px;
  font-size: 18px;
}

td .statusclosed {
  color: white;
  width: 70px;
  border-radius: 20px;
  transition: 0.5s;
}

td .statusclosed:hover {
  opacity: 0.7;
}

.pagination li a {
  background-color: black;
  color: white;
}

.pagination {
  margin-left: 85%;
}

.pagination .next {
  color: rgb(206, 172, 99);
}

.pagination .previous {
  color: rgb(206, 172, 99);
}

footer {
  height: 150px;
  width: 100%;
  z-index: 10;
}

footer p {
  color: white;
}

/* Styles for screens smaller than 768px wide (e.g., mobile devices) */
@media (max-width: 767px) {
  .main {
    display: flex;
    flex-direction: column;
  }

  .createarticle {
    width: auto;
    margin-left: 60px;
    margin-top: 40px;
  }

  .articletitle {
    display: none;
  }
}

@media (max-width: 768px) {
  table {
    border-collapse: collapse;
    width: 100%;
    margin-left: 0px;
  }

  thead {
    display: none;
  }

  tr {
    display: block;
    margin-bottom: 10px;
    /* border: 1px solid #ddd; */
  }

  td {
    display: flex;

    /* justify-content: space-between; */
    padding: 10px;
    /* border: 1px solid #ddd; */
    position: relative;
  }

  td::before {
    content: attr(data-label);
    font-weight: bold;
    width: 50%;
    padding-right: 10px;
    white-space: nowrap;
    /* background-color: #f4f4f4; */
  }

  .pagination {
    display: none;
  }
}

/* Mobile responsive row-based layout */
@media (max-width: 768px) {
  .slidenav {
    margin-top: -20px;
    height: 145px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    margin-bottom: 40px;
    width: 100%;
    flex-wrap: wrap;
  }

  .slidenav .users,
  .slidenav .courses,
  .slidenav .articles,
  .slidenav .jops {
    padding: 0;
    margin: 9px 42px;
    background-color: rgb(34, 34, 34);
  }
  .slidenav .jops {
    margin-right: 48px;
    margin-left: 48.4px;
  }
  .slidenav > div {
    position: relative;
    text-align: center;
  }
  .dropdown {
    text-align: center;
    margin-bottom: 60px;
  }

  .dropdown .btndropdown {
    width: 350px;
    height: 50px;
    color: #ccc;
    font-size: 20px;
    background-color: rgb(108, 107, 107);
    border-radius: 8px;
    border: none;
    outline: none;
    transition: 0.5s;
  }
  .dropdown .btndropdown:focus {
    background-color: #555;
  }
  .slidenav h5 {
    margin: 0;
    padding: 10px;
    cursor: pointer;
  }

  .slidenav ul {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    display: none;
    flex-direction: column;
    z-index: 1;
    border: 1px solid #ccc;
  }

  .slidenav.show ul {
    display: flex;
    /* Show the list when clicked */
  }

  .slidenav ul li {
    padding: 10px;
    text-align: center;
  }

  .slidenav ul li a {
    text-decoration: none;
    /* color: #333; Example text color */
  }
}
